<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      header de la page
    </ion-title>

    <ion-buttons slot="start">
      <ion-back-button text="Back" icon="chevron-back-outline">
      </ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button (click)="openMenu($event)">
        <ion-icon slot="icon-only"
        ios="ellipsis-horizontal"
        md="ellipsis-vertical">
      </ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  <div>
    <strong>le contenue de la page</strong>
  </div>
  <div id="container">
    <a routerLink="/liste-cours">Accés à la liste des Cours</a>
    <br/>
    <a routerLink="/saisie-cours">Accés Saisie d'un Cour</a>
  </div>
  <button (click)="openAlert()">Ouvrir l'alerte</button>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title>Footer de la page</ion-title>
  </ion-toolbar>
</ion-footer>
